name: Build AIDE

on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        flavor: [default, termux]

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
          fetch-depth: 0

      - uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Build Debug APK
        run: |
          chmod +x gradlew
          ./gradlew app_flavor:${{ matrix.flavor }}:assembleDebug

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: AIDE-${{ matrix.flavor }}
          path: "**/*.apk"
